# Compiled source #
###################
*.com
*.class
*.dll
*.exe
*.o
*.so
/dist/
/lib/

# Packages #
############
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# IDE #
#######
.idea/
*.iml
out/

### Gradle template
.gradle
build

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Course #
##########
Topics
*.yaml
Minesweeper/Battle
Minesweeper/Flexible mines
Minesweeper/Lay the groundwork
Minesweeper/Look around you
Minesweeper/Prepare for battle